/* 
    Author     : Joe Rodríguez Sáenz
*/

#encabezado{
    position: absolute;
    top: 0;
    left: 0%;
    height: 8%;
    width: 100%;
    background-color: red;
    color: white;
}

#encabezado h1{
    display: inline
}    

#menú{
    position: absolute;
    top: 8%;
    left: 0%;
    height: 4%;
    width: 100%;
    background-color: black;
    color: white;
}

#menú a:hover {
    background-color: blue;
    color: white;
}

#barralateral{
    position: absolute;
    top: 12%;
    left: 0%;
    height: 81%;
    width: 20%;
    background-color: #00FFA0;
    padding: 10PX;
}

#contenido{
    position: absolute;
    top: 12%;
    left: 20%;
    height: 81%;
    width: 80%;
    background-color: #7901A0;;
    padding: 10px;
    overflow: auto
}

#encabezadoTabla{
    background-color: blue;
    color: white;
}
#tablaresumen tr:nth-child(odd){
    background-color: coral;
    color: blue;
}
#tablaresumen tr:nth-child(even){
    background-color: white;
    color: red;
}
#piepagina{
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 4%;
    width: 100%;
    background-color: cyan;
    text-align: center;
}

